.hostContainer {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content:flex-end;
    align-items: center;
    margin-left: 10px;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color:#FF6060;
    text-align: right;
    width: min-content;
}

.profile {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-size: cover;
}

/* MEDIA QUERIES  */

@media screen and (max-width:630px) {

    .name {
        font-size: 15px;
    }

    .profile {
        width: 48px;
        height: 48px;
    }
}

@media screen and (max-width:468px) {

    .name {
        font-size: 12px;
    }

    .profile {
        width: 32px;
        height: 32px;
    }
}
