.stars {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width:630px) {

    .stars {
        height: 20px;
        width: 20px;
       margin-left: 5px;
    }
}

@media screen and (max-width:468px) {

    .stars {
        height: 15px;
        width: 15px;
    }
}