.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.headerLogo {
   fill: #FF6060;
   height: 68px;
   width: auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

    .header {
        margin-top: 20px
    }

    .headerLogo {
        height: 50px;
    }
}

@media screen and (max-width: 460px) {
    .headerLogo {
        height: 47px;
    }
}

@media screen and (max-width: 355px) {
    .headerLogo {
        height: 40px;
    }
}